.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.star {
  --star-color: var(--primary-color);
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 2);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 160px;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  -webkit-filter: drop-shadow(0 0 6px currentColor);
          filter: drop-shadow(0 0 6px currentColor);
  -webkit-transform: translate3d(104em, 0, 0);
          transform: translate3d(104em, 0, 0);
  -webkit-animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
          animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}

@media screen and (max-width: 750px) {
  .star {
    -webkit-animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
            animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}

.star:nth-child(1) {
  --star-tail-length: 6.13em;
  --top-offset: 2.37vh;
  --fall-duration: 6.05s;
  --fall-delay: 5.549s;
}

.star:nth-child(2) {
  --star-tail-length: 5.41em;
  --top-offset: 30.35vh;
  --fall-duration: 9.062s;
  --fall-delay: 2.302s;
}

.star:nth-child(3) {
  --star-tail-length: 5.4em;
  --top-offset: 8.74vh;
  --fall-duration: 11.718s;
  --fall-delay: 1.817s;
}

.star:nth-child(4) {
  --star-tail-length: 6.73em;
  --top-offset: 0.83vh;
  --fall-duration: 10.479s;
  --fall-delay: 5.198s;
}

.star:nth-child(5) {
  --star-tail-length: 6.31em;
  --top-offset: 43.14vh;
  --fall-duration: 6.744s;
  --fall-delay: 3.65s;
}

.star:nth-child(6) {
  --star-tail-length: 7.03em;
  --top-offset: 45.76vh;
  --fall-duration: 8.981s;
  --fall-delay: 1.267s;
}

.star:nth-child(7) {
  --star-tail-length: 6.91em;
  --top-offset: 71.81vh;
  --fall-duration: 10.29s;
  --fall-delay: 3.657s;
}

.star:nth-child(8) {
  --star-tail-length: 5.62em;
  --top-offset: 49.3vh;
  --fall-duration: 6.638s;
  --fall-delay: 2.494s;
}

.star:nth-child(9) {
  --star-tail-length: 5.9em;
  --top-offset: 56.45vh;
  --fall-duration: 11.237s;
  --fall-delay: 9.601s;
}

.star:nth-child(10) {
  --star-tail-length: 5.23em;
  --top-offset: 74.7vh;
  --fall-duration: 7.877s;
  --fall-delay: 7.106s;
}

.star:nth-child(11) {
  --star-tail-length: 5.86em;
  --top-offset: 78.5vh;
  --fall-duration: 11.046s;
  --fall-delay: 6.246s;
}

.star:nth-child(12) {
  --star-tail-length: 5.53em;
  --top-offset: 16.31vh;
  --fall-duration: 10.316s;
  --fall-delay: 7.947s;
}

.star:nth-child(13) {
  --star-tail-length: 6.83em;
  --top-offset: 6.57vh;
  --fall-duration: 7.525s;
  --fall-delay: 7.205s;
}

.star:nth-child(14) {
  --star-tail-length: 6.48em;
  --top-offset: 75.3vh;
  --fall-duration: 6.704s;
  --fall-delay: 7.675s;
}

.star:nth-child(15) {
  --star-tail-length: 6.12em;
  --top-offset: 56.53vh;
  --fall-duration: 9.074s;
  --fall-delay: 6.598s;
}

.star:nth-child(16) {
  --star-tail-length: 5.08em;
  --top-offset: 44.45vh;
  --fall-duration: 10.495s;
  --fall-delay: 5.366s;
}

.star:nth-child(17) {
  --star-tail-length: 5.16em;
  --top-offset: 32.59vh;
  --fall-duration: 11.968s;
  --fall-delay: 3.211s;
}

.star:nth-child(18) {
  --star-tail-length: 5.13em;
  --top-offset: 13.03vh;
  --fall-duration: 11.169s;
  --fall-delay: 6.012s;
}

.star:nth-child(19) {
  --star-tail-length: 6.53em;
  --top-offset: 91.59vh;
  --fall-duration: 9.594s;
  --fall-delay: 5.179s;
}

.star:nth-child(20) {
  --star-tail-length: 5.16em;
  --top-offset: 63.28vh;
  --fall-duration: 7.545s;
  --fall-delay: 0.281s;
}

.star:nth-child(21) {
  --star-tail-length: 6.28em;
  --top-offset: 62.68vh;
  --fall-duration: 9.766s;
  --fall-delay: 1.437s;
}

.star:nth-child(22) {
  --star-tail-length: 7.2em;
  --top-offset: 64.96vh;
  --fall-duration: 10.727s;
  --fall-delay: 3.986s;
}

.star:nth-child(23) {
  --star-tail-length: 5.47em;
  --top-offset: 5.21vh;
  --fall-duration: 8.552s;
  --fall-delay: 8.632s;
}

.star:nth-child(24) {
  --star-tail-length: 6.82em;
  --top-offset: 29.84vh;
  --fall-duration: 11.688s;
  --fall-delay: 9.562s;
}

.star:nth-child(25) {
  --star-tail-length: 5.98em;
  --top-offset: 90.05vh;
  --fall-duration: 7.224s;
  --fall-delay: 0.645s;
}

.star:nth-child(26) {
  --star-tail-length: 7.06em;
  --top-offset: 44.64vh;
  --fall-duration: 10.073s;
  --fall-delay: 6.32s;
}

.star:nth-child(27) {
  --star-tail-length: 6.61em;
  --top-offset: 21.52vh;
  --fall-duration: 7.334s;
  --fall-delay: 5.277s;
}

.star:nth-child(28) {
  --star-tail-length: 6.72em;
  --top-offset: 33.46vh;
  --fall-duration: 11.003s;
  --fall-delay: 9.453s;
}

.star:nth-child(29) {
  --star-tail-length: 6.69em;
  --top-offset: 36.1vh;
  --fall-duration: 7.793s;
  --fall-delay: 8.054s;
}

.star:nth-child(30) {
  --star-tail-length: 6.27em;
  --top-offset: 56.05vh;
  --fall-duration: 11.282s;
  --fall-delay: 5.84s;
}

.star:nth-child(31) {
  --star-tail-length: 6.17em;
  --top-offset: 11.92vh;
  --fall-duration: 11.038s;
  --fall-delay: 5.607s;
}

.star:nth-child(32) {
  --star-tail-length: 7.05em;
  --top-offset: 45.67vh;
  --fall-duration: 10.626s;
  --fall-delay: 0.717s;
}

.star:nth-child(33) {
  --star-tail-length: 6.57em;
  --top-offset: 50.47vh;
  --fall-duration: 11.168s;
  --fall-delay: 4.45s;
}

.star:nth-child(34) {
  --star-tail-length: 6.06em;
  --top-offset: 79.44vh;
  --fall-duration: 9.343s;
  --fall-delay: 5.915s;
}

.star:nth-child(35) {
  --star-tail-length: 6.78em;
  --top-offset: 56.79vh;
  --fall-duration: 7.255s;
  --fall-delay: 4.435s;
}

.star:nth-child(36) {
  --star-tail-length: 7.3em;
  --top-offset: 19.03vh;
  --fall-duration: 6.259s;
  --fall-delay: 9.133s;
}

.star:nth-child(37) {
  --star-tail-length: 5.38em;
  --top-offset: 10.06vh;
  --fall-duration: 8.916s;
  --fall-delay: 3.888s;
}

.star:nth-child(38) {
  --star-tail-length: 7.31em;
  --top-offset: 49.48vh;
  --fall-duration: 7.013s;
  --fall-delay: 8.24s;
}

.star:nth-child(39) {
  --star-tail-length: 6.24em;
  --top-offset: 73.17vh;
  --fall-duration: 10.346s;
  --fall-delay: 8.48s;
}

.star:nth-child(40) {
  --star-tail-length: 6.12em;
  --top-offset: 3.02vh;
  --fall-duration: 8.116s;
  --fall-delay: 9.347s;
}

.star:nth-child(41) {
  --star-tail-length: 6.79em;
  --top-offset: 60.16vh;
  --fall-duration: 9.392s;
  --fall-delay: 0.549s;
}

.star:nth-child(42) {
  --star-tail-length: 5.19em;
  --top-offset: 32.92vh;
  --fall-duration: 7.539s;
  --fall-delay: 7.556s;
}

.star:nth-child(43) {
  --star-tail-length: 5.73em;
  --top-offset: 98.46vh;
  --fall-duration: 8.022s;
  --fall-delay: 5.158s;
}

.star:nth-child(44) {
  --star-tail-length: 6.19em;
  --top-offset: 6.74vh;
  --fall-duration: 8.742s;
  --fall-delay: 9.222s;
}

.star:nth-child(45) {
  --star-tail-length: 7.14em;
  --top-offset: 49.14vh;
  --fall-duration: 6.256s;
  --fall-delay: 4.897s;
}

.star:nth-child(46) {
  --star-tail-length: 6.24em;
  --top-offset: 88.91vh;
  --fall-duration: 8.42s;
  --fall-delay: 0.1s;
}

.star:nth-child(47) {
  --star-tail-length: 5.1em;
  --top-offset: 87.9vh;
  --fall-duration: 10.649s;
  --fall-delay: 4.225s;
}

.star:nth-child(48) {
  --star-tail-length: 5.43em;
  --top-offset: 63.06vh;
  --fall-duration: 8.505s;
  --fall-delay: 2.198s;
}

.star:nth-child(49) {
  --star-tail-length: 6.34em;
  --top-offset: 2.07vh;
  --fall-duration: 8.018s;
  --fall-delay: 1.262s;
}

.star:nth-child(50) {
  --star-tail-length: 7.16em;
  --top-offset: 94.67vh;
  --fall-duration: 6.12s;
  --fall-delay: 3.269s;
}

.star:nth-child(51) {
  --star-tail-length: 6.62em;
  --top-offset: 91.85vh;
  --fall-duration: 6.215s;
  --fall-delay: 2.247s;
}

.star:nth-child(52) {
  --star-tail-length: 5.86em;
  --top-offset: 76.23vh;
  --fall-duration: 7.414s;
  --fall-delay: 7.857s;
}

.star:nth-child(53) {
  --star-tail-length: 5.58em;
  --top-offset: 41.04vh;
  --fall-duration: 8.395s;
  --fall-delay: 7.27s;
}

.star:nth-child(54) {
  --star-tail-length: 6.34em;
  --top-offset: 86.51vh;
  --fall-duration: 11.456s;
  --fall-delay: 6.162s;
}

.star:nth-child(55) {
  --star-tail-length: 7.11em;
  --top-offset: 59.17vh;
  --fall-duration: 7.857s;
  --fall-delay: 1.604s;
}

.star:nth-child(56) {
  --star-tail-length: 7.49em;
  --top-offset: 52.95vh;
  --fall-duration: 7.097s;
  --fall-delay: 2.888s;
}

.star:nth-child(57) {
  --star-tail-length: 6.3em;
  --top-offset: 54.14vh;
  --fall-duration: 6.101s;
  --fall-delay: 1.149s;
}

.star:nth-child(58) {
  --star-tail-length: 7.15em;
  --top-offset: 49.63vh;
  --fall-duration: 7.724s;
  --fall-delay: 9.946s;
}

.star:nth-child(59) {
  --star-tail-length: 5.08em;
  --top-offset: 49.54vh;
  --fall-duration: 11.271s;
  --fall-delay: 4.315s;
}

.star:nth-child(60) {
  --star-tail-length: 7.04em;
  --top-offset: 31.01vh;
  --fall-duration: 11.641s;
  --fall-delay: 1.732s;
}

.star:nth-child(61) {
  --star-tail-length: 5.91em;
  --top-offset: 29.87vh;
  --fall-duration: 8.764s;
  --fall-delay: 6.073s;
}

.star:nth-child(62) {
  --star-tail-length: 7.32em;
  --top-offset: 33.45vh;
  --fall-duration: 8.815s;
  --fall-delay: 5.084s;
}

.star:nth-child(63) {
  --star-tail-length: 6.21em;
  --top-offset: 70.47vh;
  --fall-duration: 10.261s;
  --fall-delay: 6.968s;
}

.star:nth-child(64) {
  --star-tail-length: 6.36em;
  --top-offset: 91.98vh;
  --fall-duration: 6.593s;
  --fall-delay: 8.805s;
}

.star:nth-child(65) {
  --star-tail-length: 6.94em;
  --top-offset: 47.05vh;
  --fall-duration: 11.673s;
  --fall-delay: 8.971s;
}

.star:nth-child(66) {
  --star-tail-length: 7.37em;
  --top-offset: 16.06vh;
  --fall-duration: 9.399s;
  --fall-delay: 5.031s;
}

.star:nth-child(67) {
  --star-tail-length: 5.87em;
  --top-offset: 95.29vh;
  --fall-duration: 9.175s;
  --fall-delay: 8.546s;
}

.star:nth-child(68) {
  --star-tail-length: 6.21em;
  --top-offset: 72.6vh;
  --fall-duration: 6.692s;
  --fall-delay: 2.646s;
}

.star:nth-child(69) {
  --star-tail-length: 5.52em;
  --top-offset: 25.54vh;
  --fall-duration: 8.81s;
  --fall-delay: 9.773s;
}

.star:nth-child(70) {
  --star-tail-length: 6.38em;
  --top-offset: 20.45vh;
  --fall-duration: 6.857s;
  --fall-delay: 0.728s;
}

.star:nth-child(71) {
  --star-tail-length: 6.85em;
  --top-offset: 30.07vh;
  --fall-duration: 7.928s;
  --fall-delay: 4.526s;
}

.star:nth-child(72) {
  --star-tail-length: 5.73em;
  --top-offset: 13.63vh;
  --fall-duration: 9.406s;
  --fall-delay: 8.359s;
}

.star:nth-child(73) {
  --star-tail-length: 7.31em;
  --top-offset: 48.87vh;
  --fall-duration: 9.625s;
  --fall-delay: 2.753s;
}

.star:nth-child(74) {
  --star-tail-length: 7.19em;
  --top-offset: 56.97vh;
  --fall-duration: 9.512s;
  --fall-delay: 0.322s;
}

.star:nth-child(75) {
  --star-tail-length: 6.14em;
  --top-offset: 75.82vh;
  --fall-duration: 10.081s;
  --fall-delay: 1.066s;
}

.star:nth-child(76) {
  --star-tail-length: 5.16em;
  --top-offset: 9.13vh;
  --fall-duration: 7.872s;
  --fall-delay: 0.318s;
}

.star:nth-child(77) {
  --star-tail-length: 6.25em;
  --top-offset: 44.59vh;
  --fall-duration: 10.946s;
  --fall-delay: 3.683s;
}

.star:nth-child(78) {
  --star-tail-length: 6.6em;
  --top-offset: 27.18vh;
  --fall-duration: 8.931s;
  --fall-delay: 1.989s;
}

.star:nth-child(79) {
  --star-tail-length: 6.06em;
  --top-offset: 15.89vh;
  --fall-duration: 11.753s;
  --fall-delay: 3.51s;
}

.star:nth-child(80) {
  --star-tail-length: 6.74em;
  --top-offset: 46.37vh;
  --fall-duration: 9.073s;
  --fall-delay: 2.329s;
}

.star:nth-child(81) {
  --star-tail-length: 6.5em;
  --top-offset: 79.7vh;
  --fall-duration: 10.932s;
  --fall-delay: 0.233s;
}

.star:nth-child(82) {
  --star-tail-length: 7.05em;
  --top-offset: 30.88vh;
  --fall-duration: 9.755s;
  --fall-delay: 4.597s;
}

.star:nth-child(83) {
  --star-tail-length: 5.83em;
  --top-offset: 12.77vh;
  --fall-duration: 7.552s;
  --fall-delay: 6.804s;
}

.star:nth-child(84) {
  --star-tail-length: 7.33em;
  --top-offset: 93.37vh;
  --fall-duration: 7.725s;
  --fall-delay: 5.566s;
}

.star:nth-child(85) {
  --star-tail-length: 7.4em;
  --top-offset: 49.44vh;
  --fall-duration: 11.243s;
  --fall-delay: 6.121s;
}

.star:nth-child(86) {
  --star-tail-length: 7.07em;
  --top-offset: 22.22vh;
  --fall-duration: 8.336s;
  --fall-delay: 2.718s;
}

.star:nth-child(87) {
  --star-tail-length: 6.74em;
  --top-offset: 38.39vh;
  --fall-duration: 10.316s;
  --fall-delay: 0.397s;
}

.star:nth-child(88) {
  --star-tail-length: 5.97em;
  --top-offset: 62.86vh;
  --fall-duration: 8.118s;
  --fall-delay: 2.006s;
}

.star:nth-child(89) {
  --star-tail-length: 5.81em;
  --top-offset: 13.86vh;
  --fall-duration: 7.455s;
  --fall-delay: 6.741s;
}

.star:nth-child(90) {
  --star-tail-length: 6.84em;
  --top-offset: 44.99vh;
  --fall-duration: 8.047s;
  --fall-delay: 6.309s;
}

.star:nth-child(91) {
  --star-tail-length: 6.03em;
  --top-offset: 50.68vh;
  --fall-duration: 7.793s;
  --fall-delay: 2.61s;
}

.star:nth-child(92) {
  --star-tail-length: 6.88em;
  --top-offset: 48.35vh;
  --fall-duration: 8.064s;
  --fall-delay: 2.023s;
}

.star:nth-child(93) {
  --star-tail-length: 5.46em;
  --top-offset: 24.33vh;
  --fall-duration: 11.114s;
  --fall-delay: 5.174s;
}

.star:nth-child(94) {
  --star-tail-length: 6.38em;
  --top-offset: 25.26vh;
  --fall-duration: 8.527s;
  --fall-delay: 2.005s;
}

.star:nth-child(95) {
  --star-tail-length: 6.68em;
  --top-offset: 13.11vh;
  --fall-duration: 9.058s;
  --fall-delay: 5.948s;
}

.star:nth-child(96) {
  --star-tail-length: 6.55em;
  --top-offset: 59.45vh;
  --fall-duration: 8.811s;
  --fall-delay: 5.665s;
}

.star:nth-child(97) {
  --star-tail-length: 6.4em;
  --top-offset: 37.88vh;
  --fall-duration: 11.454s;
  --fall-delay: 9.292s;
}

.star:nth-child(98) {
  --star-tail-length: 5.9em;
  --top-offset: 26.47vh;
  --fall-duration: 10.842s;
  --fall-delay: 6.986s;
}

.star:nth-child(99) {
  --star-tail-length: 6.56em;
  --top-offset: 4.43vh;
  --fall-duration: 9.181s;
  --fall-delay: 5.94s;
}

.star:nth-child(100) {
  --star-tail-length: 6.72em;
  --top-offset: 62.17vh;
  --fall-duration: 7.663s;
  --fall-delay: 2.872s;
}

.star::before, .star::after {
  position: absolute;
  content: '';
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  -webkit-animation: blink 2s linear infinite;
          animation: blink 2s linear infinite;
}

.star::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.star::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@-webkit-keyframes fall {
  to {
    -webkit-transform: translate3d(-30em, 0, 0);
            transform: translate3d(-30em, 0, 0);
  }
}

@keyframes fall {
  to {
    -webkit-transform: translate3d(-30em, 0, 0);
            transform: translate3d(-30em, 0, 0);
  }
}

@-webkit-keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}

@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}

@-webkit-keyframes blink {
  50% {
    opacity: 0.6;
  }
}

@keyframes blink {
  50% {
    opacity: 0.6;
  }
}
/*# sourceMappingURL=particles.css.map */