.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.star {
  --star-color: var(--primary-color);
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 2);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 160px;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  -webkit-filter: drop-shadow(0 0 6px currentColor);
          filter: drop-shadow(0 0 6px currentColor);
  -webkit-transform: translate3d(104em, 0, 0);
          transform: translate3d(104em, 0, 0);
  -webkit-animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
          animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}

@media screen and (max-width: 750px) {
  .star {
    -webkit-animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
            animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}

.star:nth-child(1) {
  --star-tail-length: 7.1em;
  --top-offset: 18.55vh;
  --fall-duration: 6.297s;
  --fall-delay: 2.376s;
}

.star:nth-child(2) {
  --star-tail-length: 5.4em;
  --top-offset: 32.68vh;
  --fall-duration: 7.866s;
  --fall-delay: 6.628s;
}

.star:nth-child(3) {
  --star-tail-length: 7.24em;
  --top-offset: 53.83vh;
  --fall-duration: 8.106s;
  --fall-delay: 6.933s;
}

.star:nth-child(4) {
  --star-tail-length: 5.85em;
  --top-offset: 88.77vh;
  --fall-duration: 10.699s;
  --fall-delay: 9.31s;
}

.star:nth-child(5) {
  --star-tail-length: 5.06em;
  --top-offset: 52.61vh;
  --fall-duration: 6.335s;
  --fall-delay: 8.424s;
}

.star:nth-child(6) {
  --star-tail-length: 5.3em;
  --top-offset: 25.57vh;
  --fall-duration: 7.418s;
  --fall-delay: 4.77s;
}

.star:nth-child(7) {
  --star-tail-length: 6.97em;
  --top-offset: 29.63vh;
  --fall-duration: 9.053s;
  --fall-delay: 3.208s;
}

.star:nth-child(8) {
  --star-tail-length: 6.69em;
  --top-offset: 77.87vh;
  --fall-duration: 9.61s;
  --fall-delay: 9.438s;
}

.star:nth-child(9) {
  --star-tail-length: 6.06em;
  --top-offset: 76.68vh;
  --fall-duration: 10.032s;
  --fall-delay: 4.227s;
}

.star:nth-child(10) {
  --star-tail-length: 6.39em;
  --top-offset: 49.96vh;
  --fall-duration: 8.384s;
  --fall-delay: 3.734s;
}

.star:nth-child(11) {
  --star-tail-length: 5.67em;
  --top-offset: 0.73vh;
  --fall-duration: 11.934s;
  --fall-delay: 9.694s;
}

.star:nth-child(12) {
  --star-tail-length: 6.9em;
  --top-offset: 82vh;
  --fall-duration: 9.52s;
  --fall-delay: 1.156s;
}

.star:nth-child(13) {
  --star-tail-length: 7.1em;
  --top-offset: 50.03vh;
  --fall-duration: 9.241s;
  --fall-delay: 9.261s;
}

.star:nth-child(14) {
  --star-tail-length: 5.14em;
  --top-offset: 83.72vh;
  --fall-duration: 8.722s;
  --fall-delay: 5.569s;
}

.star:nth-child(15) {
  --star-tail-length: 7.34em;
  --top-offset: 87.2vh;
  --fall-duration: 6.057s;
  --fall-delay: 7.345s;
}

.star:nth-child(16) {
  --star-tail-length: 6.68em;
  --top-offset: 1.54vh;
  --fall-duration: 7.562s;
  --fall-delay: 4.736s;
}

.star:nth-child(17) {
  --star-tail-length: 7.2em;
  --top-offset: 10.99vh;
  --fall-duration: 11.747s;
  --fall-delay: 0.477s;
}

.star:nth-child(18) {
  --star-tail-length: 6.12em;
  --top-offset: 28.7vh;
  --fall-duration: 9.189s;
  --fall-delay: 0.214s;
}

.star:nth-child(19) {
  --star-tail-length: 6.2em;
  --top-offset: 73.01vh;
  --fall-duration: 10.007s;
  --fall-delay: 5.602s;
}

.star:nth-child(20) {
  --star-tail-length: 5.89em;
  --top-offset: 80.7vh;
  --fall-duration: 11.451s;
  --fall-delay: 1.233s;
}

.star:nth-child(21) {
  --star-tail-length: 6.68em;
  --top-offset: 15.3vh;
  --fall-duration: 11.743s;
  --fall-delay: 7.67s;
}

.star:nth-child(22) {
  --star-tail-length: 5.73em;
  --top-offset: 94.01vh;
  --fall-duration: 10.8s;
  --fall-delay: 9.265s;
}

.star:nth-child(23) {
  --star-tail-length: 5.51em;
  --top-offset: 31.37vh;
  --fall-duration: 10.937s;
  --fall-delay: 4.525s;
}

.star:nth-child(24) {
  --star-tail-length: 6.14em;
  --top-offset: 55.08vh;
  --fall-duration: 6.863s;
  --fall-delay: 8.112s;
}

.star:nth-child(25) {
  --star-tail-length: 5.56em;
  --top-offset: 68.15vh;
  --fall-duration: 7.796s;
  --fall-delay: 9.21s;
}

.star:nth-child(26) {
  --star-tail-length: 7.45em;
  --top-offset: 94.83vh;
  --fall-duration: 7.983s;
  --fall-delay: 5.144s;
}

.star:nth-child(27) {
  --star-tail-length: 5.31em;
  --top-offset: 13.91vh;
  --fall-duration: 7.904s;
  --fall-delay: 3.369s;
}

.star:nth-child(28) {
  --star-tail-length: 6.08em;
  --top-offset: 31.24vh;
  --fall-duration: 7.712s;
  --fall-delay: 7.066s;
}

.star:nth-child(29) {
  --star-tail-length: 5.28em;
  --top-offset: 21.25vh;
  --fall-duration: 6.825s;
  --fall-delay: 5.813s;
}

.star:nth-child(30) {
  --star-tail-length: 6.11em;
  --top-offset: 11.41vh;
  --fall-duration: 7.644s;
  --fall-delay: 8.72s;
}

.star:nth-child(31) {
  --star-tail-length: 5.44em;
  --top-offset: 42.5vh;
  --fall-duration: 7.468s;
  --fall-delay: 5.729s;
}

.star:nth-child(32) {
  --star-tail-length: 6.11em;
  --top-offset: 82.69vh;
  --fall-duration: 10.864s;
  --fall-delay: 9.864s;
}

.star:nth-child(33) {
  --star-tail-length: 6.78em;
  --top-offset: 63.46vh;
  --fall-duration: 10.072s;
  --fall-delay: 9.749s;
}

.star:nth-child(34) {
  --star-tail-length: 7.45em;
  --top-offset: 53.15vh;
  --fall-duration: 6.673s;
  --fall-delay: 8s;
}

.star:nth-child(35) {
  --star-tail-length: 6.59em;
  --top-offset: 5.73vh;
  --fall-duration: 10.747s;
  --fall-delay: 1.266s;
}

.star:nth-child(36) {
  --star-tail-length: 5.76em;
  --top-offset: 86.33vh;
  --fall-duration: 10.061s;
  --fall-delay: 4.668s;
}

.star:nth-child(37) {
  --star-tail-length: 6.71em;
  --top-offset: 92.89vh;
  --fall-duration: 7.493s;
  --fall-delay: 3.602s;
}

.star:nth-child(38) {
  --star-tail-length: 7.09em;
  --top-offset: 90.65vh;
  --fall-duration: 10.487s;
  --fall-delay: 9.24s;
}

.star:nth-child(39) {
  --star-tail-length: 6.47em;
  --top-offset: 76.82vh;
  --fall-duration: 8.98s;
  --fall-delay: 7.363s;
}

.star:nth-child(40) {
  --star-tail-length: 5.68em;
  --top-offset: 69.32vh;
  --fall-duration: 6.182s;
  --fall-delay: 6.718s;
}

.star:nth-child(41) {
  --star-tail-length: 6.97em;
  --top-offset: 75.14vh;
  --fall-duration: 8.45s;
  --fall-delay: 8.752s;
}

.star:nth-child(42) {
  --star-tail-length: 6.48em;
  --top-offset: 80.9vh;
  --fall-duration: 9.809s;
  --fall-delay: 0.085s;
}

.star:nth-child(43) {
  --star-tail-length: 6.64em;
  --top-offset: 55.74vh;
  --fall-duration: 10.82s;
  --fall-delay: 3.67s;
}

.star:nth-child(44) {
  --star-tail-length: 6.8em;
  --top-offset: 63.21vh;
  --fall-duration: 11.25s;
  --fall-delay: 8.079s;
}

.star:nth-child(45) {
  --star-tail-length: 5.33em;
  --top-offset: 97.26vh;
  --fall-duration: 11.483s;
  --fall-delay: 9.875s;
}

.star:nth-child(46) {
  --star-tail-length: 5.7em;
  --top-offset: 72.74vh;
  --fall-duration: 6.629s;
  --fall-delay: 1.818s;
}

.star:nth-child(47) {
  --star-tail-length: 5.45em;
  --top-offset: 37.26vh;
  --fall-duration: 9.842s;
  --fall-delay: 7.043s;
}

.star:nth-child(48) {
  --star-tail-length: 7.24em;
  --top-offset: 19.7vh;
  --fall-duration: 9.987s;
  --fall-delay: 2.253s;
}

.star:nth-child(49) {
  --star-tail-length: 6.25em;
  --top-offset: 42.41vh;
  --fall-duration: 11.429s;
  --fall-delay: 6.663s;
}

.star:nth-child(50) {
  --star-tail-length: 6.6em;
  --top-offset: 93.31vh;
  --fall-duration: 10.395s;
  --fall-delay: 4.482s;
}

.star:nth-child(51) {
  --star-tail-length: 6.67em;
  --top-offset: 60.84vh;
  --fall-duration: 10.207s;
  --fall-delay: 8.951s;
}

.star:nth-child(52) {
  --star-tail-length: 6.22em;
  --top-offset: 8.92vh;
  --fall-duration: 11.521s;
  --fall-delay: 0.258s;
}

.star:nth-child(53) {
  --star-tail-length: 6.78em;
  --top-offset: 29.09vh;
  --fall-duration: 9.891s;
  --fall-delay: 4.054s;
}

.star:nth-child(54) {
  --star-tail-length: 5.01em;
  --top-offset: 57.91vh;
  --fall-duration: 6.268s;
  --fall-delay: 0.716s;
}

.star:nth-child(55) {
  --star-tail-length: 5.37em;
  --top-offset: 86.39vh;
  --fall-duration: 9.932s;
  --fall-delay: 8.714s;
}

.star:nth-child(56) {
  --star-tail-length: 6.7em;
  --top-offset: 4.1vh;
  --fall-duration: 11.048s;
  --fall-delay: 8.82s;
}

.star:nth-child(57) {
  --star-tail-length: 7.32em;
  --top-offset: 82.32vh;
  --fall-duration: 7.088s;
  --fall-delay: 3.467s;
}

.star:nth-child(58) {
  --star-tail-length: 6.42em;
  --top-offset: 22.58vh;
  --fall-duration: 8.507s;
  --fall-delay: 4.567s;
}

.star:nth-child(59) {
  --star-tail-length: 7.42em;
  --top-offset: 6.78vh;
  --fall-duration: 9.715s;
  --fall-delay: 0.261s;
}

.star:nth-child(60) {
  --star-tail-length: 5.04em;
  --top-offset: 49.2vh;
  --fall-duration: 10.233s;
  --fall-delay: 2.194s;
}

.star:nth-child(61) {
  --star-tail-length: 6.57em;
  --top-offset: 44.36vh;
  --fall-duration: 9.822s;
  --fall-delay: 2.588s;
}

.star:nth-child(62) {
  --star-tail-length: 5.58em;
  --top-offset: 16.6vh;
  --fall-duration: 10.531s;
  --fall-delay: 3.462s;
}

.star:nth-child(63) {
  --star-tail-length: 6.51em;
  --top-offset: 96.65vh;
  --fall-duration: 10.763s;
  --fall-delay: 7.025s;
}

.star:nth-child(64) {
  --star-tail-length: 7.32em;
  --top-offset: 50.27vh;
  --fall-duration: 6.286s;
  --fall-delay: 6.022s;
}

.star:nth-child(65) {
  --star-tail-length: 7.32em;
  --top-offset: 64.14vh;
  --fall-duration: 6.259s;
  --fall-delay: 4.043s;
}

.star:nth-child(66) {
  --star-tail-length: 6.54em;
  --top-offset: 89.87vh;
  --fall-duration: 11.479s;
  --fall-delay: 0.508s;
}

.star:nth-child(67) {
  --star-tail-length: 5.49em;
  --top-offset: 80.22vh;
  --fall-duration: 9.626s;
  --fall-delay: 6.121s;
}

.star:nth-child(68) {
  --star-tail-length: 7.24em;
  --top-offset: 61.13vh;
  --fall-duration: 9.742s;
  --fall-delay: 6.651s;
}

.star:nth-child(69) {
  --star-tail-length: 6.46em;
  --top-offset: 78.31vh;
  --fall-duration: 8.9s;
  --fall-delay: 6.35s;
}

.star:nth-child(70) {
  --star-tail-length: 6.27em;
  --top-offset: 87.3vh;
  --fall-duration: 7.074s;
  --fall-delay: 9.237s;
}

.star:nth-child(71) {
  --star-tail-length: 6.95em;
  --top-offset: 91.66vh;
  --fall-duration: 8.321s;
  --fall-delay: 8.45s;
}

.star:nth-child(72) {
  --star-tail-length: 5.98em;
  --top-offset: 77.96vh;
  --fall-duration: 6.45s;
  --fall-delay: 4.917s;
}

.star:nth-child(73) {
  --star-tail-length: 5.35em;
  --top-offset: 38.61vh;
  --fall-duration: 10.308s;
  --fall-delay: 4.571s;
}

.star:nth-child(74) {
  --star-tail-length: 6.59em;
  --top-offset: 25.31vh;
  --fall-duration: 6.761s;
  --fall-delay: 1.664s;
}

.star:nth-child(75) {
  --star-tail-length: 6.85em;
  --top-offset: 29.14vh;
  --fall-duration: 6.215s;
  --fall-delay: 0.739s;
}

.star:nth-child(76) {
  --star-tail-length: 5.39em;
  --top-offset: 5.24vh;
  --fall-duration: 11.867s;
  --fall-delay: 9.145s;
}

.star:nth-child(77) {
  --star-tail-length: 6.73em;
  --top-offset: 88vh;
  --fall-duration: 7.812s;
  --fall-delay: 4.572s;
}

.star:nth-child(78) {
  --star-tail-length: 6.29em;
  --top-offset: 95.41vh;
  --fall-duration: 8.376s;
  --fall-delay: 9.619s;
}

.star:nth-child(79) {
  --star-tail-length: 6.48em;
  --top-offset: 15.41vh;
  --fall-duration: 8.337s;
  --fall-delay: 3.38s;
}

.star:nth-child(80) {
  --star-tail-length: 6.77em;
  --top-offset: 66.51vh;
  --fall-duration: 10.81s;
  --fall-delay: 4.89s;
}

.star:nth-child(81) {
  --star-tail-length: 5.15em;
  --top-offset: 64.61vh;
  --fall-duration: 10.991s;
  --fall-delay: 2.582s;
}

.star:nth-child(82) {
  --star-tail-length: 7.4em;
  --top-offset: 61.05vh;
  --fall-duration: 10.006s;
  --fall-delay: 0.862s;
}

.star:nth-child(83) {
  --star-tail-length: 5.39em;
  --top-offset: 15.2vh;
  --fall-duration: 11.732s;
  --fall-delay: 7.586s;
}

.star:nth-child(84) {
  --star-tail-length: 5.36em;
  --top-offset: 51.19vh;
  --fall-duration: 8.249s;
  --fall-delay: 8.652s;
}

.star:nth-child(85) {
  --star-tail-length: 6.99em;
  --top-offset: 87.44vh;
  --fall-duration: 10.63s;
  --fall-delay: 6.354s;
}

.star:nth-child(86) {
  --star-tail-length: 5.72em;
  --top-offset: 70.8vh;
  --fall-duration: 8.042s;
  --fall-delay: 4.413s;
}

.star:nth-child(87) {
  --star-tail-length: 6.78em;
  --top-offset: 84.5vh;
  --fall-duration: 8.255s;
  --fall-delay: 2.546s;
}

.star:nth-child(88) {
  --star-tail-length: 6.05em;
  --top-offset: 40.32vh;
  --fall-duration: 7.314s;
  --fall-delay: 9.97s;
}

.star:nth-child(89) {
  --star-tail-length: 6.55em;
  --top-offset: 21.13vh;
  --fall-duration: 6.831s;
  --fall-delay: 7.281s;
}

.star:nth-child(90) {
  --star-tail-length: 6.5em;
  --top-offset: 57.37vh;
  --fall-duration: 9.356s;
  --fall-delay: 1.977s;
}

.star:nth-child(91) {
  --star-tail-length: 5.13em;
  --top-offset: 30.03vh;
  --fall-duration: 11.487s;
  --fall-delay: 2.322s;
}

.star:nth-child(92) {
  --star-tail-length: 7.1em;
  --top-offset: 16.62vh;
  --fall-duration: 9.434s;
  --fall-delay: 1.132s;
}

.star:nth-child(93) {
  --star-tail-length: 5.03em;
  --top-offset: 14.8vh;
  --fall-duration: 7.686s;
  --fall-delay: 0.995s;
}

.star:nth-child(94) {
  --star-tail-length: 6.26em;
  --top-offset: 61.28vh;
  --fall-duration: 11.277s;
  --fall-delay: 1.792s;
}

.star:nth-child(95) {
  --star-tail-length: 6.89em;
  --top-offset: 41.8vh;
  --fall-duration: 11.044s;
  --fall-delay: 4.809s;
}

.star:nth-child(96) {
  --star-tail-length: 5.86em;
  --top-offset: 98.3vh;
  --fall-duration: 9.698s;
  --fall-delay: 8.507s;
}

.star:nth-child(97) {
  --star-tail-length: 6.84em;
  --top-offset: 37.92vh;
  --fall-duration: 10.06s;
  --fall-delay: 7.868s;
}

.star:nth-child(98) {
  --star-tail-length: 5.59em;
  --top-offset: 94.18vh;
  --fall-duration: 7.917s;
  --fall-delay: 3.393s;
}

.star:nth-child(99) {
  --star-tail-length: 7.26em;
  --top-offset: 38.55vh;
  --fall-duration: 7.72s;
  --fall-delay: 8.111s;
}

.star:nth-child(100) {
  --star-tail-length: 5.17em;
  --top-offset: 95.98vh;
  --fall-duration: 6.839s;
  --fall-delay: 6.54s;
}

.star::before, .star::after {
  position: absolute;
  content: '';
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  -webkit-animation: blink 2s linear infinite;
          animation: blink 2s linear infinite;
}

.star::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.star::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@-webkit-keyframes fall {
  to {
    -webkit-transform: translate3d(-30em, 0, 0);
            transform: translate3d(-30em, 0, 0);
  }
}

@keyframes fall {
  to {
    -webkit-transform: translate3d(-30em, 0, 0);
            transform: translate3d(-30em, 0, 0);
  }
}

@-webkit-keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}

@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}

@-webkit-keyframes blink {
  50% {
    opacity: 0.6;
  }
}

@keyframes blink {
  50% {
    opacity: 0.6;
  }
}
/*# sourceMappingURL=particles.css.map */